@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/fundo.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image:linear-gradient(to bottom,#9e50f2a5,#351868ae, #30199473,#f250ea77,#4732b08b) ;
    width: 250px;
    height: 526px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 1px 1px 5px 1px #715DC7;
    transition: width 1s, height 1s;
}

#imagem-formulario{
    display: block;
    background:rgba(137, 43, 226, 0.599) url(../imagens/tela-login.jpg) no-repeat;
    height: 226px;
    background-size: cover;
    background-position: center bottom;
    background-position-y:-99px;
    box-shadow:inset 0px -12px 6px 2px #3019943a;
}

#formulario-login{
    display: block;
    padding: 10px;
    color: rgb(214, 214, 214);
    
}
#formulario-login h1{
    text-align: center;
    padding-bottom: 10px;
}
#formulario-login p{
    
}



